---
import LangBadge from './LangBadge.astro'
import ViewsCounter from './ViewsCounter.svelte'

const { original, title, lang, summary, url } = Astro.props
let slug = ''
---

<article class="relative">
	<div class="flex flex-col sm:flex-row justify-between mb-2">
		<h3 class="flex mb-1 sm:mb-0 text-lg sm:text-xl font-bold w-full text-gray-900 dark:text-gray-100">
			<a
				href={original?.external ? original?.url : url}
				class="block-link transition-opacity opacity-80 hover:opacity-100"
			>
				{lang && (
					<span class="order-2 self-start ml-auto sm:order-none sm:ml-0 sm:mr-2">
						<LangBadge lang={lang} />{' '}
					</span>
				)}
				{title}
				{original?.external && (
					<svg aria-hidden="true" class="ml-2 w-4 h-4 inline align-baseline">
						<use xlink:href="#external-link-icon" />
					</svg>
				)}
			</a>
		</h3>
		{!original?.external && (
			<span class="whitespace-nowrap text-sm sm:text-base text-gray-500 text-left md:text-right">
				<ViewsCounter client:visible slug={slug}/>
			</span>
		)}
	</div>
	<p class="text-gray-600 dark:text-gray-400 max-w-2xl">{summary}</p>
</article>
