---
import Layout from "layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="flex flex-col justify-center items-center max-w-2xl m-auto">
    <h1 class="font-bold text-8xl md:text-9xl tracking-tight mb-4 text-black dark:text-white">
      418
    </h1>
    <h2 class="font-bold text-3xl md:text-4xl tracking-tight mb-4">I'm a Teapot</h2>
    <p class="text-slate-700 dark:text-slate-300 mb-8">
      Actually, page hasn't been found but error 404 is too boring.
    </p>
    <a href="/">
      <a class="p-2 sm:p-4 w-64 font-bold mx-auto bg-slate-100 dark:bg-slate-900 text-center rounded-md">
        Return Home
      </a>
    </a>
  </div>
</Layout>
