---
import BlogItem from "components/BlogItem.astro";
import ViewsCounterScript from 'components/ViewsCounter.script.astro';
import Layout from "layouts/Layout.astro";

type PostFrontMatter = {
	title: string;
	summary: string;
	original?: {
		url: string
		external?: boolean
	}
	publishedAt: string
};


const title = 'Blog'
const description = 'Here is my blog. I started to write not so long ago and trying my best'
const posts = await Astro.glob<PostFrontMatter>('./blog/*.md');

posts.sort((a, b) => Date.parse(a.frontmatter.publishedAt) - Date.parse(b.frontmatter.publishedAt))
---

<Layout {title} {description}>
	<svg class="hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
		<symbol id="external-link-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
		</symbol>
	</svg>
	<h1 class="font-bold text-4xl sm:text-5xl tracking-tight mb-6 sm:mb-10">Blog</h1>
	<ul class="space-y-8 sm:space-y-12">
		{posts.map(({ frontmatter, url }) => (
		<li>
			<BlogItem {url} {...frontmatter} />
		</li>
		))}
	</ul>
	<ViewsCounterScript />
</Layout>
