---
export type Props = {
	href: string
}

const { href } = Astro.props
const { pathname } = Astro.url
const isActive = href !== '/' && pathname.startsWith(href)
---

<a href={href} class={`inline-block ${ isActive ? 'text-slate-600 dark:text-slate-100 font-bold'
	: 'text-slate-500 dark:text-slate-300 transition-colors duration-200 border-b dark:border-slate-700 hover:border-current'
	}`}>
	<slot />
</a>
